<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DivisistWeb</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    
    <div class="login-image">
        <img src="{% static 'images/logoufps.png' %}" alt="Login Banner">
    </div>
    <div class="login-container">
        <div class="login-box">
            <h2>Iniciar Sesión</h2>
            <form action="/login" method="post">
                <div class="input-container">
                    <input type="text" name="username" required>
                    <label>Correo electrónico</label>
                </div>
                <div class="input-container">
                    <input type="password" name="password" required>
                    <label>Contraseña</label>
                </div>
                <button  type="submit" class="login-btn">Iniciar sesión</button>
            </form>
            <script src="https://accounts.google.com/gsi/client" async></script>
    <div id="g_id_onload"
        data-client_id='901308746116-1cmqfdrrct5h85it7l0sddh3u21db24u.apps.googleusercontent.com'
         
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>
            <div class="admin-login">
                <a href="http://127.0.0.1:8000/admin/" class="admin-btn">Admin</a>
            </div>
        </div>
    </div>
</body>
</html>
