<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Iniciar Sesión</h2>
            <form action="/login" method="post">
                <div class="input-container">
                    <input type="text" name="username" required>
                    <label>Correo electrónico</label>
                </div>
                <div class="input-container">
                    <input type="password" name="password" required>
                    <label>Contraseña</label>
                </div>
                <button type="submit" class="login-btn">Iniciar sesión</button>
            </form>
            <div class="google-login">
                <a href="#" class="google-btn">Iniciar sesión con Google</a>
            </div>
            <div class="admin-login">
                <a href="http://127.0.0.1:8000/admin/" class="admin-btn">Admin</a>
            </div>
        </div>
    </div>
</body>
</html>
